.profileBar {
    width: 100%;
    height: 3rem;
    z-index: 100;
    top: 6rem;
    background: #FFF0F5;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileBar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90%;
}

#profileBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    max-width: 50%;    
}

.profile-NavList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 40%;
    flex-direction: row;
    position: relative;
}

.profile-NavList:hover {
    cursor: pointer;
}

.profileBar-container ul li .navLink {
    color: #D81B60;
    font-size: 1.2rem;
}

.dropdown-menu {
    position: absolute;
    top: 2rem;
    background: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    padding: .5rem;
    word-spacing: normal;
}

.dropdown-menu a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
    /* padding: .5rem; */
}

.dropdown-menu ul li:hover {
    background: #D81B60;
}

.dropdown-menu li:hover .dropdown-link {
    color: var(--secondary-text-color); 
}