:root {
   --primary-color: #FF6EC7; 
   --secondary-color: #fff;
   --tertiary-color: #FFF0F5;
   --secondary-text-color: #D81B60;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   padding-top: 6rem;
}