:root {
   --primary-color: #FF6EC7;
   --secondary-color: #fff;
   --tertiary-color: #FFF0F5;
   --secondary-text-color: #D81B60;
   --font-color: #D81B60;
   --secondary-font-color: #FF6EC7;
   --tertiary-text-color: #fff;
   --background: #fff;
   --background-rgb: 51, 51, 51;
   --navbar-color: #fff;
   --pop-up-background-color: #FFF0F5;
   --hover-pop-up-background-color: #FF6EC7;
   --highlight-navbar-color: #FF6EC7;
   --highlight-button-color: #FF6EC7;
   --hover-highlight-navbar-color: #FF6EC7;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   padding-top: 6rem;
}

/* -------Chatbot icon------- */

.chatbot-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    font-size: 2rem;
    color: var(--primary-color);
    padding: 1rem;
    background: var(--tertiary-color);
    border-radius: 50%;
}

.chatbot-btn:hover {
   background: var(--highlight-button-color);
   color: var(--secondary-color);
   transition: all ease .2s;
}