* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  height: 100dvh;
  color: #fff;
  background: black;
}

:root {
  --font-color: #fff;
  --background: #333333;
  --background-rgb: 51, 51, 51;
  --navbar-color: #1a1c1e;
  --pop-up-background-color: #353535;
  --hover-pop-up-background-color: #4a4a4a;
  --highlight-navbar-color: #242424;
  --highlight-button-color: #212121;
  --hover-highlight-navbar-color: #303030;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--font-color);
}

* {
  font-size: 1rem;
  /* font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal; */
}

.content-container {
  flex: 1;
  height: 100%;
  background-color: var(--background);
  position: relative;
}

.content-container .content-header {
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #fff;
  background: var(--navbar-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.content-header h1,
.content-header p {
  margin: 0;
  padding: 0;
  font-size: .95rem;
}

.gif {
  position: absolute;
  height: 200px;
  width: 200px;
  right: 0%;
  bottom: 0;
}

ิbutton {
  width: 100%;
  max-width: 220px;
  padding: 10px 12px;
  border-radius: 8px;
  background-color: var(--background);
  color: var(--font-color);
}

ิbutton:hover {
  cursor: pointer;
  background-color: var(--highlight-navbar-color);
}