.page {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    /* grid-template-rows: 1fr auto;  */
    box-sizing: border-box;
    position: relative;
    background-color: var(--navbar-color);
}

.home-container {
    display: flex;
    width: 100%;
    position: relative;
}

.home-container .section {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 100%;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo img {
    width: 30%;
    height: auto;
    margin: 0px 10% 0 0;
}

.logo div {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
}

#section-1 ul {
    padding: 10px 0px 0 0;
    margin: 0 10px 0 10px;
    list-style: none;
    color: var(--font-color);
}

#section-1 li {
    padding: 10px 15px 10px 15px;
    margin: 0 0 10px 0;
    color: var(--font-color);
}

#section-1 li:hover {
    background-color: var(--hover-highlight-navbar-color);
    color: var(--font-color);
    border-radius: 10px;
    cursor: pointer;
}

#section-1 li.selected {
    width: auto;
    white-space: nowrap;
    border-radius: 10px;
    color: #fff;
    background-color:var(--highlight-navbar-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

#section-2 {
    display: flex;
    height: 100%;
    max-height: 100dvh;
    width: 100%;
    overflow: hidden;
    background: var(--background);
}